USE [master]
GO
/****** Object:  Database [UniversiteDB]    Script Date: 8.02.2025 22:48:27 ******/
CREATE DATABASE [UniversiteDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UniversiteDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\UniversiteDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UniversiteDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\UniversiteDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UniversiteDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UniversiteDB]
GO
/****** Object:  Table [dbo].[Universiteler]    Script Date: 8.02.2025 22:48:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Universiteler](
	[UniversiteID] [int] IDENTITY(1,1) NOT NULL,
	[UniversiteAdi] [nvarchar](100) NOT NULL,
	[SehirID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UniversiteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fakulteler]    Script Date: 8.02.2025 22:48:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fakulteler](
	[FakulteID] [int] IDENTITY(1,1) NOT NULL,
	[FakulteAdi] [nvarchar](100) NOT NULL,
	[UniversiteID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[FakulteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bolumler]    Script Date: 8.02.2025 22:48:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bolumler](
	[BolumID] [int] IDENTITY(1,1) NOT NULL,
	[BolumAdi] [nvarchar](100) NOT NULL,
	[BolumKodu] [nvarchar](10) NOT NULL,
	[FakulteID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BolumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kimlikler]    Script Date: 8.02.2025 22:48:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kimlikler](
	[KimlikID] [int] IDENTITY(1,1) NOT NULL,
	[TCNo] [nvarchar](11) NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
	[Soyad] [nvarchar](50) NOT NULL,
	[DogumTarihi] [date] NOT NULL,
	[Uyruk] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KimlikID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ogrenciler]    Script Date: 8.02.2025 22:48:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ogrenciler](
	[OgrenciID] [int] IDENTITY(1,1) NOT NULL,
	[OgrenciNo] [int] NOT NULL,
	[KayitYili] [int] NOT NULL,
	[GPA] [decimal](3, 2) NOT NULL,
	[KimlikID] [int] NULL,
	[BolumID] [int] NULL,
 CONSTRAINT [PK__Ogrencil__E497E6D4BEFF184B] PRIMARY KEY CLUSTERED 
(
	[OgrenciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[KayitYili2021Oncesi]    Script Date: 8.02.2025 22:48:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[KayitYili2021Oncesi]
as
select k.Ad+' '+k.Soyad 'Ad Soyad', DATEDIFF(YEAR,k.DogumTarihi,GETDATE()) 'Yas', o.KayitYili, o.GPA, b.BolumAdi, u.UniversiteAdi
from Ogrenciler o
inner join Kimlikler k on k.KimlikID=o.KimlikID
inner join Bolumler b on b.BolumID=o.BolumID
inner join Fakulteler f on f.FakulteID=b.FakulteID
inner join Universiteler u on u.UniversiteID=f.UniversiteID
where o.KayitYili<2021
GO
/****** Object:  Table [dbo].[Dersler]    Script Date: 8.02.2025 22:48:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dersler](
	[DersID] [int] IDENTITY(1,1) NOT NULL,
	[DersAdi] [nvarchar](100) NOT NULL,
	[DersKodu] [nvarchar](10) NOT NULL,
	[Kredi] [int] NOT NULL,
	[BolumID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DersID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[OgrenciBilgisi]    Script Date: 8.02.2025 22:48:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[OgrenciBilgisi]
(
@ogrenciNo int
)
returns table
as
return select k.Ad,k.Soyad,o.GPA, d.DersAdi,b.BolumAdi,u.UniversiteAdi from Ogrenciler o 
inner join Kimlikler k on k.KimlikID=o.KimlikID
inner join Bolumler b on b.BolumID=o.BolumID
inner join Dersler d on d.BolumID=b.BolumID
inner join Fakulteler f on f.FakulteID=b.FakulteID
inner join Universiteler u on u.UniversiteID=f.UniversiteID
where o.OgrenciNo=@ogrenciNo
GO
/****** Object:  Table [dbo].[Ogretmenler]    Script Date: 8.02.2025 22:48:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ogretmenler](
	[OgretmenID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
	[Soyad] [nvarchar](50) NOT NULL,
	[Unvan] [nvarchar](50) NOT NULL,
	[DersID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OgretmenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sehirler]    Script Date: 8.02.2025 22:48:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sehirler](
	[SehirID] [int] IDENTITY(1,1) NOT NULL,
	[SehirAdi] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SehirID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SilinenOgrenciler]    Script Date: 8.02.2025 22:48:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SilinenOgrenciler](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OgrenciNo] [int] NOT NULL,
	[SilmeTarihi] [datetime] NOT NULL,
 CONSTRAINT [PK__SilinenO__3214EC272261A961] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bolumler] ON 

INSERT [dbo].[Bolumler] ([BolumID], [BolumAdi], [BolumKodu], [FakulteID]) VALUES (1, N'Makine Mühendisliği', N'101', 1)
INSERT [dbo].[Bolumler] ([BolumID], [BolumAdi], [BolumKodu], [FakulteID]) VALUES (2, N'Elektrik Mühendisliği', N'102', 1)
INSERT [dbo].[Bolumler] ([BolumID], [BolumAdi], [BolumKodu], [FakulteID]) VALUES (3, N'Bilgisayar Mühendisliği', N'103', 1)
SET IDENTITY_INSERT [dbo].[Bolumler] OFF
GO
SET IDENTITY_INSERT [dbo].[Dersler] ON 

INSERT [dbo].[Dersler] ([DersID], [DersAdi], [DersKodu], [Kredi], [BolumID]) VALUES (1, N'Termodinamik', N'ME101', 4, 1)
INSERT [dbo].[Dersler] ([DersID], [DersAdi], [DersKodu], [Kredi], [BolumID]) VALUES (2, N'Makine Elemanları', N'ME102', 3, 1)
INSERT [dbo].[Dersler] ([DersID], [DersAdi], [DersKodu], [Kredi], [BolumID]) VALUES (3, N'Elektrik Devreleri', N'EE101', 4, 2)
SET IDENTITY_INSERT [dbo].[Dersler] OFF
GO
SET IDENTITY_INSERT [dbo].[Fakulteler] ON 

INSERT [dbo].[Fakulteler] ([FakulteID], [FakulteAdi], [UniversiteID]) VALUES (1, N'Mühendislik Fakültesi', 1)
INSERT [dbo].[Fakulteler] ([FakulteID], [FakulteAdi], [UniversiteID]) VALUES (2, N'Fen Fakültesi', 1)
INSERT [dbo].[Fakulteler] ([FakulteID], [FakulteAdi], [UniversiteID]) VALUES (3, N'Sosyal Bilimler Fakültesi', 1)
SET IDENTITY_INSERT [dbo].[Fakulteler] OFF
GO
SET IDENTITY_INSERT [dbo].[Kimlikler] ON 

INSERT [dbo].[Kimlikler] ([KimlikID], [TCNo], [Ad], [Soyad], [DogumTarihi], [Uyruk]) VALUES (1, N'22222222222', N'Berkal', N'Bilir', CAST(N'2002-01-15' AS Date), N'T.C.')
INSERT [dbo].[Kimlikler] ([KimlikID], [TCNo], [Ad], [Soyad], [DogumTarihi], [Uyruk]) VALUES (2, N'22222222223', N'Siti', N'Bilgin', CAST(N'2002-09-12' AS Date), N'T.C.')
INSERT [dbo].[Kimlikler] ([KimlikID], [TCNo], [Ad], [Soyad], [DogumTarihi], [Uyruk]) VALUES (3, N'22222222224', N'Uraltay', N'Bilge', CAST(N'2001-10-11' AS Date), N'T.C.')
GO
SET IDENTITY_INSERT [dbo].[Kimlikler] OFF
GO
SET IDENTITY_INSERT [dbo].[Ogrenciler] ON 

INSERT [dbo].[Ogrenciler] ([OgrenciID], [OgrenciNo], [KayitYili], [GPA], [KimlikID], [BolumID]) VALUES (1, 1001, 2021, CAST(2.08 AS Decimal(3, 2)), 1, 1)
INSERT [dbo].[Ogrenciler] ([OgrenciID], [OgrenciNo], [KayitYili], [GPA], [KimlikID], [BolumID]) VALUES (2, 1002, 2021, CAST(1.86 AS Decimal(3, 2)), 2, 1)
INSERT [dbo].[Ogrenciler] ([OgrenciID], [OgrenciNo], [KayitYili], [GPA], [KimlikID], [BolumID]) VALUES (3, 1003, 2021, CAST(1.92 AS Decimal(3, 2)), 3, 1)
GO
SET IDENTITY_INSERT [dbo].[Ogrenciler] OFF
GO
SET IDENTITY_INSERT [dbo].[Ogretmenler] ON 

INSERT [dbo].[Ogretmenler] ([OgretmenID], [Ad], [Soyad], [Unvan], [DersID]) VALUES (1, N'Ahmet', N'Yılmaz', N'Doç. Dr.', 1)
INSERT [dbo].[Ogretmenler] ([OgretmenID], [Ad], [Soyad], [Unvan], [DersID]) VALUES (2, N'Mehmet', N'Kara', N'Prof. Dr.', 2)
INSERT [dbo].[Ogretmenler] ([OgretmenID], [Ad], [Soyad], [Unvan], [DersID]) VALUES (3, N'Ayşe', N'Demir', N'Dr.', 3)
SET IDENTITY_INSERT [dbo].[Ogretmenler] OFF
GO
SET IDENTITY_INSERT [dbo].[Sehirler] ON 

INSERT [dbo].[Sehirler] ([SehirID], [SehirAdi]) VALUES (1, N'İstanbul')
INSERT [dbo].[Sehirler] ([SehirID], [SehirAdi]) VALUES (2, N'Ankara')
SET IDENTITY_INSERT [dbo].[Sehirler] OFF
GO
SET IDENTITY_INSERT [dbo].[SilinenOgrenciler] ON 

INSERT [dbo].[SilinenOgrenciler] ([ID], [OgrenciNo], [SilmeTarihi]) VALUES (1, 2121, CAST(N'2025-02-08T22:33:01.917' AS DateTime))
INSERT [dbo].[SilinenOgrenciler] ([ID], [OgrenciNo], [SilmeTarihi]) VALUES (2, 2122, CAST(N'2025-02-08T22:33:06.640' AS DateTime))
SET IDENTITY_INSERT [dbo].[SilinenOgrenciler] OFF
GO
SET IDENTITY_INSERT [dbo].[Universiteler] ON 

INSERT [dbo].[Universiteler] ([UniversiteID], [UniversiteAdi], [SehirID]) VALUES (1, N'İstanbul Teknik Üniversitesi', 1)
INSERT [dbo].[Universiteler] ([UniversiteID], [UniversiteAdi], [SehirID]) VALUES (2, N'Boğaziçi Üniversitesi', 1)
INSERT [dbo].[Universiteler] ([UniversiteID], [UniversiteAdi], [SehirID]) VALUES (3, N'Hacettepe Üniversitesi', 2)
SET IDENTITY_INSERT [dbo].[Universiteler] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Kimlikle__B770B7544EB00D40]    Script Date: 8.02.2025 22:48:27 ******/
ALTER TABLE [dbo].[Kimlikler] ADD UNIQUE NONCLUSTERED 
(
	[TCNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Ogrencil__E497FE1A3835CB76]    Script Date: 8.02.2025 22:48:27 ******/
ALTER TABLE [dbo].[Ogrenciler] ADD  CONSTRAINT [UQ__Ogrencil__E497FE1A3835CB76] UNIQUE NONCLUSTERED 
(
	[OgrenciNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SilinenOgrenciler] ADD  CONSTRAINT [DF__SilinenOg__Silme__08B54D69]  DEFAULT (getdate()) FOR [SilmeTarihi]
GO
ALTER TABLE [dbo].[Bolumler]  WITH CHECK ADD FOREIGN KEY([FakulteID])
REFERENCES [dbo].[Fakulteler] ([FakulteID])
GO
ALTER TABLE [dbo].[Dersler]  WITH CHECK ADD FOREIGN KEY([BolumID])
REFERENCES [dbo].[Bolumler] ([BolumID])
GO
ALTER TABLE [dbo].[Fakulteler]  WITH CHECK ADD FOREIGN KEY([UniversiteID])
REFERENCES [dbo].[Universiteler] ([UniversiteID])
GO
ALTER TABLE [dbo].[Ogrenciler]  WITH CHECK ADD  CONSTRAINT [FK__Ogrencile__Bolum__73BA3083] FOREIGN KEY([BolumID])
REFERENCES [dbo].[Bolumler] ([BolumID])
GO
ALTER TABLE [dbo].[Ogrenciler] CHECK CONSTRAINT [FK__Ogrencile__Bolum__73BA3083]
GO
ALTER TABLE [dbo].[Ogrenciler]  WITH CHECK ADD  CONSTRAINT [FK__Ogrencile__Kimli__72C60C4A] FOREIGN KEY([KimlikID])
REFERENCES [dbo].[Kimlikler] ([KimlikID])
GO
ALTER TABLE [dbo].[Ogrenciler] CHECK CONSTRAINT [FK__Ogrencile__Kimli__72C60C4A]
GO
ALTER TABLE [dbo].[Ogretmenler]  WITH CHECK ADD FOREIGN KEY([DersID])
REFERENCES [dbo].[Dersler] ([DersID])
GO
ALTER TABLE [dbo].[Universiteler]  WITH CHECK ADD FOREIGN KEY([SehirID])
REFERENCES [dbo].[Sehirler] ([SehirID])
GO
/****** Object:  StoredProcedure [dbo].[OgrenciEkle]    Script Date: 8.02.2025 22:48:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[OgrenciEkle]
(
@kayitYili int,
@gpa decimal(3,2),
@bolum int=null
)
as
begin
declare @ogrenciNo int
select @ogrenciNo= MAX(OgrenciNo)+1 from Ogrenciler
insert Ogrenciler(OgrenciNo,KayitYili,BolumID,GPA) values(@ogrenciNo,@kayitYili,@bolum,@gpa)
end
GO
/****** Object:  StoredProcedure [dbo].[OgrenciSil]    Script Date: 8.02.2025 22:48:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[OgrenciSil]
(
@ogrenciNo int
)
as
delete from Ogrenciler where OgrenciNo=@ogrenciNo
GO
/****** Object:  StoredProcedure [dbo].[UpdateGPA]    Script Date: 8.02.2025 22:48:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[UpdateGPA]
(
@ogrenciNo int,
@gpa decimal(3,2)
)
as
if not exists(select * from Ogrenciler o where o.OgrenciNo=@ogrenciNo)
begin
print 'Girilen numaraya ait ogrenci bulunamadi!'
end
else
begin
update Ogrenciler set GPA=@gpa where OgrenciNo=@ogrenciNo
end
GO
USE [master]
GO
